.container {
  width: 100%;
  min-width: 40vw;
}

.paramCard {
  margin-top: 8px;
}

.paramSpace {
  width: 100%;
}

.paramRow {
  width: 100%;
}

.keyInput {
    width: 200px;
}

.flagInput {
    width: 200px;
}

.hideKeyLabel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.typeSelect {
  width: 100px;
}

.extractorSpace {
  width: 100%;
}

.extractorRow {
  width: 100%;
}

.indexInput {
  width: 200px;
}

.searchKeyInput {
  flex: 1;
}

.specificValueInput {
  flex: 1;
}

.defaultValueInput {
  width: 200px;
}

.addButton {
  width: 100%;
  margin-top: 8px;
}